data_load.R
dat9.csv
data_meta.csv
dat1.csv
data_info.csv
dat8.csv
dat7.csv
dat6.csv
dat5.csv
dat4.csv
dat3.csv
dat2.csv
dat19.csv
dat18.csv
dat17.csv
dat16.csv
dat15.csv
dat14.csv
dat13.csv
dat12.csv
dat11.csv
dat10.csv
